/* UnitForm.css */

.unit-form-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.unit-form-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #d32f2f; /* Red color for the heading */
}

.unit-form-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333; /* Dark text color for labels */
  text-align: left;
}

.required-asterisk {
  color: red;
  margin-left: 2px;
}

.unit-form-select,
.unit-form-input,
.unit-form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: #333;
}

.unit-form-textarea {
  resize: vertical;
}

.unit-form-btn {
  background-color: #d32f2f; /* Red background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unit-form-btn:hover {
  background-color: #c62828; /* Darker red on hover */
}

/* Add styling for inputs and select elements when they are focused */
.unit-form-select:focus,
.unit-form-input:focus,
.unit-form-textarea:focus {
  outline: none;
  border-color: #d32f2f; /* Red border on focus */
}

.unit-form-input,
.unit-form-textarea {
  font-size: 16px;
}

.unit-form-select {
  font-size: 16px;
}
